* {
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
@media (min-width: 600px) {
    .contain {
        padding: 0;
    }
}

h3,
ul {
    margin: 0;
}

h3 {
    margin-bottom: 1rem;
}

input:focus,
textarea:focus {
    outline: 3px solid gold;
}

input,
textarea,
button {
    width: 100%;
    border: 1px solid #000;
}

.wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.wrapper > * {
    padding: 1em;
}
@media (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .wrapper > * {
        padding: 2em 2em;
    }
}

ul {
    list-style: none;
    padding: 0;
}

.preguntas {
    background: #4b5195;
    color: #fff;
}

.form {
    background: #fff;
}

form {
    display: grid;
    //grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
form label {
    display: block;
}
form p {
    margin: 0;
}

.full-width {
    grid-column: 1 / 3;
}
button,
input,
textarea {
    padding: 1em;
}
button {
    background: lightgrey;
    width: 100%;
    border: 0;
}
button:hover, button:focus {
    background: gold;
    outline: 0;
}


/*campo obligatorio*/
.required:after {
    content: "*";
    color: red;
}


/*navegador*/


/*estilos navegador*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
 